

.spent-text{
    border: 2px solid #6047EC;
    color: #6047EC;
    border-radius: 10px;
}
.spent-text h2{
    font-size: 25px;
}

.blog-title{
    margin-top: 20px;
    background-color: rgba(240, 248, 255, 0.68);
}

